*.slo
*.lo
*.o
*.obj

*.gch
*.pch

*.so
*.dylib
*.dll

*.mod

*.lai
*.la
*.a
*.lib


*.exe
*.out
*.app


*.dSYM/
*.su
*.idb


_cmake/
Makefile
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
CTestTestfile.cmake
testing/


.deps/


*.swp
*.swo
*~
.DS_Store
Thumbs.db
ehthumbs.db


.vscode/


CMakeFiles/
CMakeScripts/
